/* Estilos Gerais */
:root {
  --cor-principal: #6fa9e4;
  --cor-fundo-input: #f5f5f57c;
  --cor-borda: #dce8f6;
  --cor-texto-label: #2c5b8b;
  --cor-texto-placeholder: #a9c5e3;
}

body {
  background-color: #f0f5fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 900px;
}

.container-formulario {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.formulario-etapas {
  width: 100%;
}

.etapa-form {
  display: none;
}
.etapa-form.ativo {
  display: block;
}

.grupo-form {
  margin-bottom: 20px;
}

.grupo-form label {
  display: block;
  color: var(--cor-texto-label);
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

/* inpuits s ____________________________________________________________________________________________ */
.grupo-form input,
.grupo-form select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--cor-borda);
  border-radius: 20px;
  background-color: var(--cor-fundo-input);
  font-size: 16px;
  box-sizing: border-box;
  color: var(--cor-texto-label);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 4px 6px -2px #0000005e;
  transition: all 0.2s ease-in-out;
}

.grupo-form input::placeholder {
  color: var(--cor-texto-placeholder);
}

.linha-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.campo-expandir {
  flex-grow: 1;
}

/* icones do calendarios nas datas _____________________________________________________________________________________ */
input[type="date"] {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23a9c5e3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px;
  padding-right: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.navegacao-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.navegacao-form button {
  border-radius: 12px;
  border: none;
  height: 6vh;
  width: 40vh;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-proximo,
.btn-enviar {
  background-color: var(--cor-principal);
  color: white;
}

.btn-cancelar,
.btn-voltar {
  background-color: white;
  color: var(--cor-principal);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
