* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --main-color: #75afdc;
  --secondary-color: #7e7e7e;
  --cor-azul-claro: #92c0e3;
  --cor-cinza-fundo: rgba(241, 241, 241, 0.74);
  --cor-vermelho-claro: #ffd2d2;
  --cor-vermelho-escuro: #dc3546c0;
  --cor-texto-inputs: #a9c5e3;
  --cor-borda: #dce8f6;
}

body.dark-mode {
  --main-color-dark: #75afdc;
  --cor-borda-dark: #72757e;
  --cor-fundo-pagina-dark: #464646;
  --cor-fundo-elemento-dark: #1e1e1e;
  --cor-texto-principal-dark: #ffffff;
  --cor-texto-secundario-dark: #999;
  --cor-sombra-dark: rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--cor-fundo-input);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
}

/* bloqueia o editar em campos ___________________________________________________________________________ */
.campo-travado,
input[readonly] {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
  border-color: #ddd;
}

/*Estrutura do Formulário _________________________________________________________________ */
.container-formulario {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.titulo {
  color: var(--main-color);
  font-size: 35px;
  margin-bottom: 20px;
}

/* descobrir da onde que é esse titulo 2 */
.titulo2 {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 20px;
}

.formulario-etapas {
  width: 100%;
}

.etapa-form {
  display: none;
}

.etapa-form.ativo {
  display: block;
}

/*  Grupos de Campos e Layout _____________________________________________________________________________  */
.grupo-form {
  margin-bottom: 20px;
}

.grupo-form label {
  display: block;
  color: var(--main-color);
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.linha-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.campo-expandir {
  flex-grow: 1;
}

#etapa-3 h3 {
  color: var(--cor-texto-label);
}

.grupo-form input,
.grupo-form select,
.grupo-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--cor-borda);
  border-radius: 12px;
  background-color: var(--cor-fundo-input);
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px -2px #0000005e;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

.grupo-form input::placeholder,
.grupo-form textarea::placeholder {
  color: var(--cor-texto-inputs);
  opacity: 1;
}

.grupo-form select:invalid,
.grupo-form input[type="date"]:invalid {
  color: var(--cor-texto-inputs);
}

#obs-pedagogica {
  color: #000000;
}

#obs-pedagogica::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

textarea {
  resize: vertical;
}

/* calendario imput  __________________________________________________________________________________________*/
select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23a9c5e3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px;
  padding-right: 50px;
}

input[type="date"] {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23a9c5e3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 24px;
  padding-right: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* Navegação e Botões _________________________________________________________________ */
.navegacao-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navegacao-form button {
  border-radius: 12px;
  border: none;
  height: 6vh;
  width: 40vh;
  max-width: 300px;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-proximo,
.btn-enviar {
  background-color: var(--main-color);
  color: #fff;
}

.btn-cancelar,
.btn-voltar {
  background-color: white;
  color: var(--main-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/*  Validação _________________________________________________________________________________________ */
.form-foi-validado input:invalid,
.form-foi-validado select:invalid,
.form-foi-validado textarea:invalid {
  border-color: var(--cor-vermelho-escuro);
}

/* asterisco obrigatorio _________________________________________________________________ */
.obrigatorio {
  color: var(--cor-vermelho-escuro);
  margin-left: 2px;
  font-weight: bold;
}

/* olho ___________________________________________________________ */

.grupo-form.senha-container {
  position: relative;
}

.toggle-senha {
  position: absolute;
  top: 43px;
  right: 15px;
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 24px;
}

/* ESTILOS PARA SELEÇÃO MÚLTIPLA COM TAGS _________________________________________________________________ */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--cor-borda);
  border-radius: 12px;
  background-color: var(--cor-fundo-input);
  min-height: 40px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  color: #000;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
}

.tag i {
  margin-left: 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.tag i:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* atividade ________________________________________________________________ */
#container-status {
  display: none;
}

/* medicamento ________________________________________________________________ */

#medicamento {
  color: rgb(0, 0, 0);
}

/* relatorio ________________________________________________________________ */
.botoes-status {
  display: flex;
  gap: 10px;
}

.btn-status {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid var(--cor-borda);
  background-color: var(--cor-fundo-input);
  color: var(--cor-texto-label);
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

#horaMedicacao {
  color: #000;
}

.btn-status.selecionado {
  background-color: var(--cor-principal);
  color: rgb(0, 0, 0);
  border-color: var(--cor-principal);
}

.grupo-form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.grupo-form-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.grupo-form-checkbox label {
  margin-bottom: 0;
  font-weight: normal;
}

.accordion {
  width: 100%;
  margin-top: 20px;
}

.accordion-item {
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background-color: #f8f9fa;
  border: none;
  padding: 18px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background-color: #e9ecef;
}

.accordion-header.active {
  background-color: #e9ecef;
}

.accordion-header::after {
  content: "\\02795";
  font-size: 13px;
  color: var(--secondary-color);
}

.accordion-header.active::after {
  content: "\\2796";
}

.accordion-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

/* reponsivo para celular __________________________________________________________________________________________________ */
@media (max-width: 850px) {
  .linha-form {
    flex-direction: column;
    gap: 0;
  }

  .grupo-form {
    width: 100%;
  }

  .navegacao-form {
    align-items: center;
  }

  .navegacao-form button {
    width: 100%;
  }
}

/* mod escuro ++________________________________________________________________________________________________________ */
body.dark-mode {
  background-color: var(--cor-fundo-pagina-dark);
}

body.dark-mode .container-formulario {
  background-color: var(--cor-fundo-elemento-dark);
}

body.dark-mode .grupo-form input,
body.dark-mode .grupo-form select,
body.dark-mode .grupo-form textarea {
  color: var(--cor-texto-principal-dark);
  background-color: var(--cor-fundo-elemento-dark);
  border: 1px solid #777;
}

body.dark-mode .grupo-form select:invalid,
body.dark-mode .grupo-form input[type="date"]:invalid {
  color: var(--cor-texto-secundario-dark);
}

body.dark-mode .grupo-form input::placeholder,
body.dark-mode .grupo-form textarea::placeholder {
  color: var(--cor-texto-secundario-dark);
  opacity: 1;
}

body.dark-mode .grupo-form select option {
  color: var(--cor-texto-principal-dark);
  background-color: var(--cor-fundo-elemento-dark);
}

body.dark-mode .grupo-form input::-webkit-input-placeholder,
body.dark-mode .grupo-form textarea::-webkit-input-placeholder {
  color: var(--cor-texto-secundario-dark);
}
body.dark-mode .grupo-form input::-moz-placeholder,
body.dark-mode .grupo-form textarea::-moz-placeholder {
  color: var(--cor-texto-secundario-dark);
  opacity: 1;
}
body.dark-mode .grupo-form input:-ms-input-placeholder,
body.dark-mode .grupo-form textarea:-ms-input-placeholder {
  color: var(--cor-texto-secundario-dark);
}

body.dark-mode #medicamento {
  color: var(--cor-texto-principal-dark) !important;
}

body.dark-mode #medicamento:invalid {
  color: var(--cor-texto-secundario-dark) !important;
}
